body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.option {
    width: 100%;
    background-color: #f4f4f4;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.correct {
    background-color: green;
    color: white;
    width: 70px;
    height: 25px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: small;
    font-family: monospace;
    margin-top: 10px;
  }
.wrong {
    background-color: red;
    color: white;
    width: 70px;
    height: 25px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: small;
    font-family: monospace;
    margin-top: 10px;
}
.boxoptions{
    background-color: grey;
    width: 200px;
    color:white;
    border-radius: 10px;
    font-family: monospace;
    margin-left: 50px;
}
h2{
    font-family: monospace;
    margin-bottom: 30px;
}
.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nextpage{
    margin-left: 50px;
}
button{
    margin-left: 50px;
    font-family: monospace;
    border-radius: 5px;
    margin-top: 50px;
    background-color: #4CAF50;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #45a049;
}
